.project-div{
    margin-top: 12vh;
}

.project-heading h1{
    font-weight: 700;
}

.project-cards{
    display: flex;
    justify-content: space-around;
}

.card-button{
    border-radius: 0%;
    color: #2978b5;
    border: 2px solid;
}

.pjt-card{
    border-radius: 30px;
    overflow: hidden;
    border: none;
    box-shadow: 16px 16px 32px #a8a8a8,
    -16px -16px 32px #ffffff;
}